
* {
    font-family: 'Martian Mono', monospace; 
  }
  
  h1 {
    font-family: 'Martian Mono', monospace;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif; 
  }
  
  #digital-humanities {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  }