/* Experience.css */
/* base font-family */
* {
    font-family: 'Martian Mono', monospace; 
  }
  
  h1 {
    font-family: 'Martian Mono', monospace;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif; 
  }
  
  /*  Experience section */
  
  #WorkExperience {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  
  
  .project-section-heading {
    text-align: justify;
    margin-bottom: 40px;
    max-width: 50%; 
    text-align: center;
  }
  
  .sectionCentralHeading {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    
  }
  
  .section-subheading {
    font-weight: 500;
    font-size: 15px;
    font-weight: bold;
  }
  
  .workExperienceTitle,
  .workExperienceMain,
  .workTermDate {
    max-width: 45%;
    text-align: left;
  }
  .workExperienceTitle {
    max-width: 70%;
    text-align: left;
    

  }
  .workExperienceMain,
  .workTermDate {
    margin-bottom: 20px;
    text-align: justify;

  }

  .workExperienceTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .workExperienceTable th {
    width: 25%;
    font-weight: bold;
    font-size: 15px;
  }
  
  .workExperienceTable td {
    font-size: 20px;

  }
  
  .workTermDate {
    font-size: 12px;
    margin-bottom: 10px;

  }
  
  .workExperienceTable p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .workExperienceTable b {
    font-size: 15px;
  }
  
  /* Responsive  */
  
  @media (max-width: 768px) {
    .project-section-heading,
    .workExperienceTitle,
    .workExperienceMain,
    .workTermDate,
    .workExperienceTable {
      max-width: 90%; /* Adjust for smaller screens */

    }

    
  }
  