/* Footer.css */

.signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Martian Mono', monospace;
  font-size: 13px;

  color: #E4D8C4;


  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.signature div:first-of-type {
  margin-bottom: 7px;
}

.signature div:last-of-type {
  font-size: 15px;
  margin-top: 5px;
 
}
