
* {
  font-family: 'Martian Mono', monospace; 
}

h1 {
  font-family: 'Martian Mono', monospace;
}

h2 {
  font-family: 'Montserrat', sans-serif; 
}

#home {
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  align-items: left;
  margin-top: 200px;
  margin-bottom: 400px;
  margin-right: 200px;
}

/* Rounded border */

.intro-title {
  font-size: 75px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.intro-name {
  font-weight: bold;
  font-size: 75px;
  text-align: left;
  color: #ca861f;
}

.intro-subtitle {
  font-weight: 500;
  text-align: left;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.intro-description {
  font-size: 20px;
  max-width: 80%;
  text-align: left;
  margin-top: 40px;

}



.description-content {
  display: flex; /* Enable Flexbox */
  align-items: flex-start; /* Align items at the start */
  margin-left:30px;

}

.image-container {
  margin-right:8px; /* Space between image and text */
}

.arrow-image {
  transform: rotate(100deg); /* Rotate the arrow image */
  width: 60px; /* Set width */
  height: 60px; /* Set height */
}

.text-container {
  display: flex; 
  margin-left: 30px;
  flex-direction: column; 
  margin-top:20px;
}
.text-link {

  margin-top:none;
}

.intro-linkedin,
.intro-github {
  margin-right: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}



.text-link p {
  color: #CA861E;
  text-decoration: none; 
  cursor: pointer; 
  font-size: 20px;
  max-width: 25%;
  text-align: left;
  text-decoration: none;
  margin-top:0px;
  margin-right:0px;
  font-weight: bold
}

.text-link p:hover {
  color: #b98b00; 
}




.intro-linkedin:hover {
  content: url('/Users/lixuanguo/webdev/portfolio-2024/public/linkedin_icon_hover.png'); 
  height:25px;
}


.intro-github:hover {
  content: url('/Users/lixuanguo/webdev/portfolio-2024/public/github_icon_hover.png'); 
  height:25px;
}

.intro-contactme:hover {
  content: url('/Users/lixuanguo/webdev/portfolio-2024/public/mail_to_icon_hover.png'); 
  height:25px
}
