/*Nav bar.css */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #e4d8c4;
    padding: 10px;
  
    position: fixed;
    top: 0;
    width: 100%;

    }
  .navbar-nav {
    display:flex;
    list-style: none;

    padding: 0;
  }
  
  .navbar-item {
    margin-right: 15px; 
  }
  
  .navbar-item.active a {
    font-weight: bold; 
    color: #ce8e0d;
  }
  
  .navbar-item a{
    text-decoration: none;
    color: #022C56;
    font-size: 13px; 
  }