/*Projects.css */
* {
    font-family: 'Martian Mono', monospace; 
  }
  
  h1 {
    font-family: 'Martian Mono', monospace;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif; 
  }
  
  a {
    text-decoration: none;
  }
  
  .sectionCentralHeading {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 10px;
  }
  
  .grid-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #e4d8c4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:400px; 
    height:275x; 
    box-sizing: border-box;
  }
  
  
  .card-title {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #022C56;
  }
  
  .card-text {
    font-size: 1rem;
    color: #022C56;
    margin-bottom: 15px;
  }
  
  .card-button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    border: none; 
    border-radius: 20px; 
    background-color: #022C56; 
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .card-button:hover {
    background-color: #ce8e0d; 
  }
  .card-title:hover{
    color: #ce8e0d; 

  }
  