html {
  scroll-behavior: smooth;
}

.App {
  text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Martian+Mono:wght@100;400;700&family=Montserrat:wght@200;600&family=Mukta:wght@200;600&display=swap');

/* Apply the fonts to all elements */
* {
  font-family: 'Martian Mono', monospace; /* Use your preferred font here */
 }
 
 h1 {
  font-family: 'Martian Mono', monospace; /* Use your preferred font here */
 }
 
 h2 {
  font-family: 'Montserrat', sans-serif; /* Use your preferred font here */
 }
 
 p {
  font-family: 'Mukta', sans-serif; /* Use your preferred font here */
 }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EFF2F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
  justify-content: center; /* Centers content vertically */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px; /* Optional: Adds some padding from the left */
}


.App-link {
  color: #61dafb;
}
